#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
body {
  background-color: #f0f0f0;
}
.container {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
}
label {
  display: flex;
  justify-content: flex-start;
}
.btn_add {
  border: 1px solid #7366ff !important;
  background-color: #7366ff !important;
}
hr {
  height: 0.1px !important;
  color: #7366ff !important;
  width: 100% !important;
  background-color: red;
}
.flex_btns {
  display: flex;
  justify-content: space-around;
}
.my-bold {
  font-weight: 900;
}
.circulo {
  font-size: 20px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #7366ff;
  margin: 10px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.bi-arrow-left {
  font-size: 40px;
  font-weight: 800;
  color: #7366ff;
}
